
.accordion {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
.accordion .panel-group {
  margin: 0;
}
.accordion .panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion .panel .panel-heading {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ffffff;
  position: relative;
  padding: 0;
}
.accordion .panel .panel-heading .accordion-toggle {
  display: block;
  color: gray;
  padding: 20px 30px;
}
.accordion .panel .panel-heading .accordion-toggle:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.accordion .panel .panel-heading .accordion-toggle:before {
  content: "\e113";
}
.accordion .panel .panel-heading .accordion-toggle.collapsed:before {
  content: "\e114";
}
.accordion .panel .panel-heading .accordion-lnk {
  position: absolute;
  left: 55px;
  top: 20px;
}
.accordion .panel .panel-heading .accordion-lnk.no-subs {
  display: block;
  position: static;
  padding: 20px;
}
.accordion .panel .panel-collapse .panel-heading {
  background-color: #e6e6e6;
}
.accordion .panel .panel-collapse .panel-heading .accordion-lnk {
  left: 75px;
}
.accordion .panel .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 75px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-heading {
  background-color: #d9d9d9;
}
.accordion .panel .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 95px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 95px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #cccccc;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 115px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 115px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #bfbfbf;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 135px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 135px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #b3b3b3;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 155px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 155px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #a6a6a6;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 175px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 175px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #999999;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 195px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 195px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #8c8c8c;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 215px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 215px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #808080;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 235px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 235px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading {
  background-color: #737373;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk {
  left: 255px;
}
.accordion .panel .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-collapse .panel-heading .accordion-lnk.no-subs {
  padding-left: 255px;
}
.accordion .panel .panel-heading + .panel-collapse > .panel-body {
  border: none;
  padding: 0;
}
.search--results--container {
  display: table;
  width: 100%;
}
.search--results--container > div {
  display: table-cell;
}

.search--results--container > div.search--results--filters {
  width: 200px;
  border-right: 5px solid white;
  background-color: #F6F6F6;
}

.search--results--container > div.search--results--filters #product-facet {
  padding-bottom: 15px;
}
.search--results--container > div.search--results--filters #product-facet.with--padding--top {
  padding-top: 50px;
}
.search--results--container > div.search--results--items {
  padding-left: 50px;
  padding-right: 20px;
  vertical-align: top;
  padding-top: 5px;
}
.search--results--container > div.search--results--items .banner__component {
  margin: 10px 0;
}


.facet {
  background-color: #f6f6f6;
}
.product__facet {
  margin: 0;
  padding: 0;
}
.product__facet .filter--type--title {
  background-color: #F6F6F6;
  padding: 10px 20px;
  color: #333;
  font-family: "Lato-Bold";
  border-bottom: 1px solid #eee;
  border-top: 5px solid white;
}
.product__facet .facet {
  padding: 0 20px;
}
.product__facet .facet:before,
.product__facet .facet:after {
  content: " ";
  display: table;
}
.product__facet .facet:after {
  clear: both;
}
.product__facet .facet:before,
.product__facet .facet:after {
  content: " ";
  display: table;
}
.product__facet .facet:after {
  clear: both;
}
.product__facet .facet:last-child {
  margin: 0;
}
.product__facet .facet .facet__name {
  font-size: 12px;
  color: #999;
  font-family: "Lato-Bold";
  text-transform: uppercase;
  margin-left: -5px;
  margin-top: 10px;
}
.product__facet .facet [data-accordion].open .facet__list {
  margin: 0;
}

}
.product__facet .facet .facet__list.facet__list--hidden {
  display: none;
}

.facet ul {
    list-style: none;
    padding-left: 0;
}

.product__facet .facet .facet__values__more {
  display: block;
  padding: 5px 0;
}
.product__facet .facet .facet__values__more a span {
  font-family: "Lato-Regular";
  color: #777;
  font-size: 13px;
  vertical-align: middle;
}
.product__facet .facet .facet__values__less {
  display: none;
  padding: 5px 0;
}
.product__facet .facet .facet__values__less a span {
  font-family: "Lato-Regular";
  color: #777;
  font-size: 13px;
  vertical-align: middle;
}
.product__facet .facet .facet__form {
  padding-top: 10px;
}
.product__facet .facet .facet__form .input-group {
  background-color: #ffffff;
  min-height: 32px;
  border: 1px solid #cccccc;
}
.product__facet .facet .facet__form .input-group .form-control {
  border: 0 none;
  height: 32px;
  box-shadow: none;
}
.product__facet .facet .facet__form .input-group .btn {
  width: 40px;
  height: 32px;
  line-height: 32px;
  padding: 0;
}
.product__facet .facet .facet__form .input-group .btn .glyphicon-search {
  color: #b9bdc2;
  font-size: 17px;
  top: 0;
}
.product__facet .facet .facet__form .line-text {
  margin: 20px 0;
}
.product__facet .facet .facet__form__hidden {
  display: none;
}
.product__facet .facet .facet__results__hidden {
  display: none;
}
@media (max-width: 979px) {
  .product__facet {
    padding: 10px;
    margin: 0;
    border: 0 none;
  }
  #colorbox .product__facet {
    display: block !important;
  }
  .product__facet .facet {
    float: none;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 0 10px 0;
  }
  .product__facet .facet .facet__name {
    background: #f2f2f2;
    cursor: pointer;
    padding: 10px;
    padding-left: 65px;
    text-transform: uppercase;
    position: relative;
  }
  .product__facet .facet .facet__name .facet__arrow {
    font-size: 12px;
    position: absolute;
    top: 17px;
    left: 30px;
  }
  .product__facet .facet .facet__name .facet__arrow:before {
    content: "\e080";
  }
  .product__facet .facet .facet__values {
    display: none;
  }
  .product__facet .facet.active .facet__arrow:before {
    content: "\e114";
  }
  .product__facet .facet.active .facet__values {
    display: block;
  }
}
.sort-refine-bar {
  width: 100%;
  overflow: hidden;
  display: table;
}
.sort-refine-bar > div {
  display: table-cell;
  width: 50%;
}
.sort-refine-bar > div.sort--table--cell {
  text-align: right;
}
.sort-refine-bar > div.sort--table--cell label {
  color: #575756;
  font-family: "Lato-Light";
  margin-right: 10px;
}
.sort-refine-bar form {
  display: inline-block;
  font-family: "Lato-Bold";
  color: #575756;
}
.sort-refine-bar select {
  width: auto;
}
.sort-refine-bar .results--qty--message {
  font-family: "Lato-Regular";
  font-size: 15px;
}
.sort-refine-bar .results--qty--message span {
  font-family: "Lato-Bold-Italic";
  color: #575756;
}
.pagination-bar {
  margin: 0;
}
.pagination-bar .pagination-toolbar {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 980px) {
  .pagination-bar .pagination-toolbar {
    padding-right: 20px;
  }
}
.pagination-bar .form-group {
  margin: 0;
}
.pagination-bar .pagination-bar-results {
  margin-top: 25px;
  padding: 0;
  color: #929292;
}
.pagination-bar.bottom .pagination-toolbar {
  padding-top: 30px;
  border-top: 1px solid #cccccc;
  border-bottom-width: 1px;
}
@media (max-width: 979px) {
  .pagination-bar button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 639px) {
  .sort-refine-bar .form-group select {
    width: 100%;
  }
  .pagination-bar .pagination,
  .pagination-bar button {
    margin-top: 30px;
    width: 100%;
  }
  .pagination-bar .pagination {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
}
@media (min-width: 640px) {
  .pagination-bar .pagination-toolbar {
    border-bottom-width: 1px;
  }
  .pagination-bar .pagination,
  .pagination-bar button {
    margin-top: 25px;
  }
}
@media (max-width: 979px) and (min-width: 640px) {
  .sort-refine-bar .form-group select {
    height: 48px;
  }
  .pagination-bar .pagination,
  .pagination-bar button {
    margin-top: 24px;
  }
}
.item__list {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}
.item__list .item__list--item {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
.item__list .item__list--item:nth-child(4n+4) + li .add-to-cart-order-form-wrap,
.item__list .item__list--item:nth-child(4n+4) + li .add-to-cart-order-form-wrap:after {
  background-color: #f2f2f2;
}
.item__list .item__list--item:nth-child(4n+4) + li .add-to-cart-order-form-wrap .order-form-scroll.down {
  bottom: 0;
  z-index: 9999;
}
.item__list .item__list--item:last-child {
  padding-right: 30px;
}
.item__list .item__list--item .btn-group.open .dropdown-menu {
  padding: 0;
}
.item__list .item__list--item .btn-group.open .dropdown-menu li {
  margin: 0;
}
.item__list .item__list--item .btn-group.open .dropdown-menu li:first-child {
  border-bottom: 1px solid #e5e5e5;
}
.item__list .item__list--item .btn-group.open a {
  padding: 18px 35px 18px 25px;
}
.item__list .item__list--header {
  padding-left: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.item__list .item__list--header li {
  display: table-cell;
  background-color: #128a9e;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 7px 10px;
}
.item__list .item__list--header li:last-child {
  padding-right: 30px;
}
.item__list .item__toggle {
  font-size: 15px;
  width: 25px;
}
.item__list .item__toggle > * {
  cursor: pointer;
}
.item__list .item__toggle .open .glyphicon:before {
  content: "\e113";
}
.item__list .item__image {
  width: 136px;
  padding: 0 20px;
}
.item__list .item__image img {
  max-width: 96px;
}
.item__list .item__name {
  font-size: 16px;
  font-weight: 700;
}
.item__list .item__quantity {
  text-align: center;
}
.item__list .item__quantity .form-control {
  display: inline-block;
  width: 60px;
  height: 40px;
  text-align: center;
}
.item__list .item__delivery .item__delivery--label {
  text-transform: uppercase;
  color: #929292;
  font-weight: 700;
}
.item__list .item__total--column {
  text-align: right;
}
.item__list .item__total {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  padding-left: 0;
}
.item__list .item__remove,
.item__list .item__menu {
  width: 45px;
  text-align: right;
}
.item__list .item__remove .btn,
.item__list .item__menu .btn {
  font-size: 25px;
  background-color: transparent;
  padding: 0;
  border: 0;
  color: #47b6b1;
}
.item__list .item__remove .btn .glyphicon,
.item__list .item__menu .btn .glyphicon {
  top: 4px;
}
.item__list #cartOrderGridForm .product-grid-container table {
  background-color: #f2f2f2;
}
.item__list #cartOrderGridForm .product-grid-container table th {
  background-color: #e4e4e4;
  color: gray;
}
.item__list .promo {
  font-size: 14px;
  font-weight: 700;
  color: #00a651;
}
.item__list .promo ul {
  padding-left: 0;
  list-style: none;
}
.item__list .out-of-stock {
  color: #ED1C24;
}
.item__list .read-only-grid .grid-row > td {
  border-bottom: 1px solid #f2f2f2;
}
.item__list .read-only-grid .grid-prod-img {
  width: 100px;
  padding: 25px 40px 20px 45px;
  vertical-align: top;
}
.item__list .read-only-grid .grid-prod-img + td {
  padding-bottom: 5px;
}
.item__list .read-only-grid .grid-variant,
.item__list .read-only-grid .grid-size {
  font-weight: 700;
}
.item__list .read-only-grid .grid-variant + .grid-variant:before,
.item__list .read-only-grid .grid-size + .grid-variant:before {
  content: "|";
  font-size: 15px;
  margin: 0 10px;
  width: 1px;
  color: #cccccc;
}
.item__list .read-only-grid .grid-prod-info {
  display: inline-block;
  padding-top: 0;
  padding-right: 40px;
}
.item__list .read-only-grid .grid-qty .grid-qty-label {
  font-size: 12px;
  text-transform: uppercase;
}
.item__list .read-only-grid .grid-price:before {
  content: "|";
  font-size: 15px;
  margin: 0 10px;
  width: 1px;
  color: #cccccc;
}
@media (min-width: 980px) {
  .item__list > li .add-to-cart-order-form-wrap {
    border-bottom: 1px solid #e5e5e5;
  }
  .item__list .item__list--item {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .item__list .item__list--item .item__sku__input,
  .item__list .item__list--item .item__toggle,
  .item__list .item__list--item .item__image,
  .item__list .item__list--item .item__info,
  .item__list .item__list--item .item__price,
  .item__list .item__list--item .item__quantity,
  .item__list .item__list--item .item__delivery,
  .item__list .item__list--item .item__total,
  .item__list .item__list--item .item__remove,
  .item__list .item__list--item .item__menu,
  .item__list .item__list--item .item__quantity__total {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
  }
  .item__list .item__info {
    width: 35%;
    padding: 0 10px;
  }
  .item__list .item__delivery {
    padding-left: 3%;
  }
}

.hiddenDesktop {
display: none;
}
.container,
.container-fluid {
width: 100%;
max-width: 1500px;
margin: auto;
}
header {
height: 181px;
}
.fixedHeader {
height: 96px;
padding: 0;
}
.navigation--top {
height: 34px;
}


[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
}

[data-control], [data-content] > * {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.search--results--items {
    border-bottom: 1px solid #eee;
    border-top: 5px solid white;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 6px;
    font-size: 25px;
    font-weight: 200;
    color: #444;
    height: 20px;
    width: 32px;
    background: url(../images/ficha_mas.png) center center no-repeat;
    background-size: 50%;
    opacity: 0.6;
}

footer {
    border-top: 5px solid white;
}
